:root {
  --primary-color: #FF640A;
  --background-color: #f9975f;
  --item-color: #805A45;
  --hover-item-color: #BF6937;
  --neutral-color: #F5F5F5;
}

@font-face {
    font-family: 'GillSans';
    src: url('../fonts/GillSans-MT.ttf') format('truetype'); /* chemin vers ton fichier */
    font-weight: normal;
    font-style: normal;
}

html
{
  height: 100%;
}

body
{
  height: 100%;
  font-size: 16px;
  font-family: 'GillSans', sans-serif !important;
}

.under-menu
{ 
  min-height: 80vh ;
  height: auto ;
  padding-bottom: 30px;
  margin-top: -30px ;
  background: linear-gradient(to bottom, var(--primary-color), var(--background-color)) !important;
}


.banner {
      background-color: var(--item-color);
      color: var(--neutral-color);
      text-align: center;
      padding: 2rem 1rem;
      margin: 30px 20%;
      border-radius: 12px;
    }

    .banner h1 {
      font-size: 2rem;
      margin-bottom: 0.5rem;
    }

    .banner p {
      font-size: 1.2rem;
    }

     .events {
      padding: 2rem;
      margin: 0 20%;
    }

    .event {
      background-color: var(--neutral-color);
      padding: 1.5rem;
      margin-bottom: 1rem;
      border-left: 10px solid var(--hover-item-color);
      box-shadow: 0 2px 5px rgba(0,0,0,0.1);
      border-bottom-right-radius: 40px;
      border-top-right-radius: 40px;
      align-items: center;
      display: flex;
      gap: 20px;
    }
    

.event-left {
  min-width: 250px;
    width: 30%; /* ou une autre taille fixe */
    flex-shrink: 0;
}

.event-right {
    flex: 1; /* occupe la moitié droite */
}

.event-right p{
    margin: auto;
}

    .event h2 {
      margin-top: 0;
    }

    .event p {
      margin: 0.3rem 0;
    }

    .text-container
    {
      padding: 2rem;
      margin: 0 20%;
      font-size: 18px;
      background-color: var(--neutral-color);
      padding: 1.5rem;
      margin-bottom: 1rem;
      box-shadow: 0 2px 5px rgba(0,0,0,0.1);
      border-radius: 20px;
    }

    .text-container i
    {
      color:grey;
    }

    .wrapper
    {
      width: 100%;
      justify-content: center;
      display: flex;
    }