@font-face {
    font-family: 'GillSans';
    src: url('../fonts/GillSans-MT.ttf') format('truetype'); /* chemin vers ton fichier */
    font-weight: normal;
    font-style: normal;
}

#menu-placeholder {
  height: 20vh;
  font-family: 'GillSans', sans-serif;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background: url('../img/Banniere.png');
  background-repeat: repeat-x; /* répète l’image seulement en largeur */
  background-position: center bottom;
  background-size: auto 20vh; /* ajuste la hauteur de l’image à celle du conteneur */
  height: 20vh;
  position: relative;
  color: white;
}

.logo {
  position: absolute;
  left: 20%;
  height: 75%;
  width: auto;
  filter: drop-shadow(0 0 5px black);
}

.nav {
  position: absolute;
  top: 20%;
  right: 20%;
  display: flex;
  gap: clamp(0.5rem, 1rem, 1.5rem);
}


.nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: clamp(12px, 1.1vw, 1.1vw);

  padding: 0rem 1rem;
  transition: all 0.2s ease;
  filter: drop-shadow(0 0 5px black);
}

.invert {
  -webkit-filter: invert(100%); /* Safari/Chrome */
  filter: invert(100%);
}

.nav a:hover {
transform: scale(1.2);
  cursor: pointer;
}

/* bouton burger caché sur desktop */
.burger {
  display: none;
  font-size: 2rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.social-nav {
  position: absolute;
  bottom: 10%;
  right: 20%;
  display: flex;
  gap: 0.5rem;
  filter: drop-shadow(0 0 5px black);
}

.social-nav a img {
  width: clamp(24px, 3vw, 48px);
  height: auto;
  transition: transform 0.3s;
}

.social-nav a:hover img {
  transform: scale(1.2);
  cursor: pointer;
}